@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url('https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80') center/cover no-repeat;
    position: absolute;
    filter: blur(0px);
    /* offset the white area of blur */
    top: -2rem;
    left: -2rem;
    width: calc(100vw + 4rem);
    height: calc(100vh + 4rem);
    z-index: -1; /* puts bg-img behind text */
}

.loading-text {
    font-size: 3rem;
    color: white;
}